<!-- Patient File -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Add Patient</h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Personal Info</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form ng-submit= "addPatient()" class="form-horizontal" role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputID" class="col-sm-3 control-label">School ID</label>
                  <div class="col-sm-5">
                    <input type="id" class="form-control" ng-model="patient.school_id" id="inputID">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputFname" class="col-sm-3 control-label">First Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.fname" id="inputFname">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputMname" class="col-sm-3 control-label">Middle Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.mname" id="inputMname">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputLname" class="col-sm-3 control-label">Last Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.lname" id="inputLname">
                  </div>
                </div> 
                <div class="form-group">
                  <label for="inputAge" class="col-sm-3 control-label">Age</label>

                  <div class="col-sm-2">
                    <input type="age" class="form-control" ng-model="patient.age" id="inputAge">
                  </div>
                   <label for="inputSex" class="col-sm-2 control-label">Sex</label>
                   <div class="radio">
                    <label class="col-sm-2"> 
                      <input type="radio" ng-model="patient.sex" name="female" id="female" value="option1" checked>
                      Female
                    </label>
                    <label class="col-sm-2">
                      <input type="radio" ng-model="patient.sex" name="male" id="male" value="option2" checked>
                      Male
                    </label>   
                  </div>  
                </div>
                <div class="form-group">
                  <label for="inputPatientType" class="col-sm-3 control-label">Patient Type</label>
                  
                  <div class="col-sm-5">
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected"></option>
                        <option>Student</option>
                        <option>Staff</option>
                        <option>Faculty</option>
                    </select>
                   </div>   
                  </div>
                  <div class="form-group">
                    <label for="inputPatientType" class="col-sm-3 control-label">Department</label>
                    <div class="col-sm-5">
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected"></option>
                        <option>ComSci</option>
                        <option>IT/IS</option>
                        <option>ECETS</option>
                    </select>
                  </div>   
                  </div>
                  <div class="form-group">
                  <label for="inputfname" class="col-sm-3 control-label">Height</label>

                  <div class="col-sm-3">
                    <input type="name" class="form-control" id="inputfname">
                  </div>
                  <label for="inputfname" class="col-sm-2 control-label">Weight</label>

                  <div class="col-sm-3">
                    <input type="name" class="form-control" id="inputfname">
                  </div>
                 </div>     
                 <div class="form-group">
                  <label for="inputfname" class="col-sm-3 control-label">Date of Birth</label>   
                  <div class="col-sm-5 input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>    
                  </div>   
                 </div>
                 <div class="form-group">
                  <label for="inputfname" class="col-sm-3 control-label">Civil Status</label>
                  <div class="radio">
                    <label class="col-sm-2"> 
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Single
                    </label>
                    <label class="col-sm-2">
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Married
                    </label>
                    <label class="col-sm-2">
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Divorced
                    </label>  
                    <label class="col-sm-2">
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Widow
                    </label>  
                  </div>  
                </div>
                 <div class="form-group">
                  <label for="inputNameOfGuardian" class="col-sm-4 control-label">Name of Guardian</label>

                  <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="patient.name_of_guardian" id="inputNameOfGuardian">
                  </div>
                </div>  
                 <div class="form-group">
                  <label for="inputHomeAddress" class="col-sm-4 control-label">Home Address</label>

                  <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="patient.home_address" id="inputHomeAddress">
                  </div>
                </div>  
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
              </div>
            </form>
          </div>
          <!-- /.box -->

          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Illness</h3>
            </div>
            <form class="form-horizontal" role="form">
              <div class="box-body">  
                 <div class="form-group">
                  <label for="inputAsthma" class="col-sm-3 control-label">Asthma</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.asthma" id="inputAsthma">
                  </div>
                 </div>
                 <div class="form-group">
                  <label for="inputPtb" class="col-sm-3 control-label">Ptb</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.ptb" id="inputPtb">
                  </div>
                 </div>
                 <div class="form-group">
                  <label for="inputHeartproblem" class="col-sm-3 control-label">Heart Problem</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.heart_problem" id="inputHeartproblem">
                  </div>
                 </div>
                 <div class="form-group">
                  <label for="inputHepatitis_A_B" class="col-sm-3 control-label">Hepatitis A B</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.hepatitis_a_b" id="inputHepatitisA_B">
                  </div>
                 </div>
                 <div class="form-group">
                  <label for="inputChickenpox" class="col-sm-3 control-label">Chicken Pox</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="'patient.chicken_pox" id="inputChickenpox">
                  </div>
                 </div>
                 <div class="form-group">
                  <label for="inputMumps" class="col-sm-3 control-label">Mumps</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.mumps" id="inputMumps">
                  </div>
                 </div>
                 <div class="form-group">
                  <label for="inputTyphoid" class="col-sm-3 control-label">Typhoid Fever</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.typhoid_fever" id="inputTyphoid">
                  </div>
                 </div>   
               </div>   
            <!-- /.box-body -->
                 <div class="box-footer">
                 </div>    
             </form>
          </div>

         
          <!-- Box -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Neurologic</h3>
            </div>
            <form class="form-horizontal" role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputID" class="col-sm-3 control-label">Headache</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.headache" id="inputHeadache">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputSeizure" class="col-sm-3 control-label">Seizure</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.seizure" id="inputSeizure">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDizziness" class="col-sm-3 control-label">Dizziness</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.dizziness" id="inputDizziness">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputLossOfConsciousness" class="col-sm-5 control-label">Loss of Consciousness</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="patient.loss_of_consciousness" id="inputLossOfConsciousness"
              
            </div>
            <!-- /.box-body -->
               <div class="box-footer">
                 </div>    
             </form>
          </div> 
          </div>
          <!-- /.box -->    
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Personal History</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputSmoking" class="col-sm-3 control-label">Smoking</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.smoking" id="inputSmoking">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAllergies" class="col-sm-3 control-label">Allergies</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.allergies" id="inputAllergies">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAlcohol" class="col-sm-3 control-label">Alcohol</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.alcohol" id="inputAlcohol">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputMedicationtaken" class="col-sm-3 control-label">Medication Taken</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.medications_taken" id="inputMedicationtaken">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDrugs" class="col-sm-3 control-label">Drugs</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.drugs" id="inputDrugs">
                  </div>
                </div>  
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Pulmonary</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form class = "form-horizontal" role="form">
                <!-- text input -->
                <div class="form-group">
                   <label for="inputCough" class="col-sm-3 control-label">Cough</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.cough" id="inputCough">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputDyspnea" class="col-sm-3 control-label">Dyspnea</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.dyspnea" id="inputDyspnea">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputHemoptysis" class="col-sm-3 control-label">Hemoptysis</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.hemoptysis" id="inputHemoptysis">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputfname" class="col-sm-3 control-label">TB Exposure</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.tb_exposure" id="inputTbexposure">
                  </div>
                </div>
                <div class="box-footer">
              </div>  
              </form>
            </div>
            </div>    
            <!-- /.box-body -->
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Gut</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form class = "form-horizontal" role="form">
                <!-- text input -->
                <div class="form-group">
                   <label for="inputFrequency" class="col-sm-3 control-label">Frequency</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.frequency" id="inputFrequency">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputFlank" class="col-sm-3 control-label">Flank Plan</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient_flank_plan" id="inputFlank">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputdischarge" class="col-sm-3 control-label">Discharge</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.discharge" id="inputDischarge">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputDysuria" class="col-sm-3 control-label">Dysuria</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.dysuria" id="inputDysuria">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputNocturia" class="col-sm-3 control-label">Nocturia</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.nocturia" id="inputNocturia">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputDec" class="col-sm-4 control-label">Dec Urine Amount</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="patient.dec_urine_amount" id="inputDec">
                  </div>
                </div>
                <!-- /.box-body -->
              <div class="box-footer">
              </div>
              <!-- /.box-footer -->
              </form>
            </div>  
          </div>
          <!-- /.box -->
           <!-- /.box-body -->
            <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Cardiac</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form class = "form-horizontal" role="form">
                <!-- text input -->
                <div class="form-group">
                   <label for="inputChestpain" class="col-sm-3 control-label">Chest Pain</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.chest_pain" id="inputChestpain">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputPalpitations" class="col-sm-3 control-label">Palpitations</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.palpitations" id="inputPalpitations">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputPedal" class="col-sm-3 control-label">Pedal Edema</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.pedal_edema" id="inputPedal">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputOrtho" class="col-sm-3 control-label">Orthopnea</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="patient.orthopnea" id="inputfname">
                  </div>
                </div>
                <div class="form-group">
                   <label for="inputNocturnal" class="col-sm-4 control-label">Nocturnal Dyspnea</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="patient.nocturnal_dyspnea" id="inputNocturnal">
                  </div>
                </div>  
                <div class="box-footer">
              </div>
              <!-- /.box-footer --> 
              <div align= "right" class="col-sm-5 box-footer">
        <button type="submit"  class="btn btn-info pull-right">Add Patient</button>
      </div>   
              </form>
            </div>    
          </div>  
        </div>
          
        <!--/.col (right) -->
      </div>
        
        
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
    