<!DOCTYPE html>
<html>
<head>
<title>Anoncare</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">
.avatar{
max-width: 250px;
}
</style>
</head>
<body>
<div class="container">
<h1>Assessment</h1>
<form role="form" method="post" onsubmit="return false">
	<div class="form-group">
    Age<input id="age" type="text" class="form-control" name="age" required><br>
    Department<input id="department" type="text" class="form-control" name="department" required><br>
	T<input id="temparature" type="text" class="form-control" name="temparature" required><br>
	PR<input id="pulse_rate" type="text" class="form-control" name="pulse_rate" required><br>
	RR<input id="respiration_rate" type="text" class="form-control" name="respiration_rate" required><br>
	BP<input id="blood_pressure" type="text" class="form-control" name="blood_pressure" required><br>
	WT<input id="weight" type="text" class="form-control" name="weight" placeholder="Enter " required><br>
	Chief Complaint<input id="chiefcomplaint" type="text" class="form-control" name="chiefcomplaint" placeholder="Enter " required><br>
	History of Present illness<input id="historyofpresentillness" type="textarea" class="form-control" name="historyofpresentillness" placeholder="Enter " required><br>
	Medications Taken<input id="medicationstaken" type="text" class="form-control" name="medicationstaken" placeholder="Enter " required><br>
	Diagnosis<input id="diagnosis" type="text" class="form-control" name="diagnosis" placeholder="Enter " required><br>
	Recommendation<input id="reccomendation" type="text" class="form-control" name="reccomendation" placeholder="Enter " required><br>
	Attending Physician<input id="attendingphysician" type="text" class="form-control" name="attendingphysician" placeholder="Enter " required><br>
	</div>
	<button type="submit" class="btn btn-primary" onclick="assessment();">Submit</button>
	<button type="button" class="btn btn-primary" onclick="">Load users!</button>
	</form>
<br>
<div id="results">
</div>
</div>
<script src="{{ url_for('static', filename="jquery-1.11.0.min.js") }}"></script>
<script src="{{ url_for('static', filename="main.js") }}"></script>
<!--<script src="{{ url_for('static', filename="api.js") }}"></script>-->
<script src="{{ url_for('static', filename="bootstrap.min.js") }}"></script>
</body>
</html>
